@charset "UTF-8";
* {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Microsoft JhengHei", "微軟正黑體", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.navbar__custom--height {
  padding-top: 22px;
  padding-bottom: 10px;
}

.btn__custom {
  display: inline-block;
  padding: 0.25rem 0.75rem;
  font-family: "Arial", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.2;
  color: #333333;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  background-color: #FFFFFF;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}
.btn__custom--gray {
  background-color: #E6E6E6;
  color: #333333;
}
.btn__custom--gray:hover {
  background-color: #333333;
  color: #ffffff;
}
.btn__custom--white {
  padding: 0.5rem 3.2rem;
  font-family: 微軟正黑體;
  font-size: 1.3125rem;
  font-weight: bolder;
  border-radius: 0.475rem;
  background-color: #ffffff;
  color: #333333;
}
.btn__custom--white:hover {
  background-color: #333333;
  color: #ffffff;
}

.item-header {
  margin-left: 30px;
  margin-right: 30px;
  padding: 2.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media only screen and (min-width: 768px) {
  .item-header {
    margin-left: 60px;
    padding: 4rem 0;
    align-items: flex-start;
  }
}
.item-header--form {
  padding: 2.5rem 0 0.3125px;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  border-bottom: 1px solid #FFFFFF;
}
.item-header .title {
  font-size: 1.437rem;
  font-weight: bolder;
  font-family: Arial;
  letter-spacing: 0.025em;
}
@media only screen and (min-width: 768px) {
  .item-header .title {
    font-size: 4rem;
    letter-spacing: 0em;
  }
}
.item-header .subText {
  font-size: 0.9rem;
  font-weight: bolder;
}

.item-footer {
  padding: 2.5rem 0 2.5rem;
  text-align: center;
}

.carousel {
  width: 100%;
}
.carousel--leftBorder {
  border-left: 2px solid #000000;
}
.carousel__wrapper {
  margin-right: auto;
  margin-left: auto;
}
.carousel__wrapper--gutter {
  padding-right: 2rem;
  padding-left: 2rem;
}
.carousel__figcaption {
  display: flex;
  flex-direction: row;
  padding: 2.5rem 2rem 0;
  background-color: #FFFFFF;
}
.carousel__figcaption--paddingBottom {
  padding-bottom: 2rem;
}
.carousel__figcaption--gray {
  background-color: #EEEEEE;
}
.carousel__figcaption--noPadding {
  padding: 0.5rem;
}
.carousel__figcaption div {
  flex-grow: 1;
}
.carousel__figcaption div.spec {
  display: flex;
  flex-direction: column;
}
.carousel__figcaption div.spec--padding {
  padding-left: 1rem;
}
.carousel__figcaption .subTitle {
  margin-bottom: 0;
  font-size: 0.875rem;
  font-weight: bolder;
  font-family: Arial;
  letter-spacing: 0.125em;
}
.carousel__figcaption .subTitle--spacing {
  letter-spacing: 0.5em;
}
.carousel__figcaption .subTitle a {
  padding-left: 0.5rem;
  text-decoration: none;
  color: #333333;
}
.carousel__figcaption .subTitle a:hover {
  color: #666666;
}
.carousel__figcaption .title {
  margin-bottom: 0;
  font-size: 1.3125rem;
  font-weight: bolder;
  font-family: Arial;
  letter-spacing: 0.025em;
}
.carousel__figcaption .title--marginBottom {
  margin-bottom: 2rem;
}
.carousel__figcaption .discount {
  margin-bottom: 0;
  font-size: 1.0625rem;
  font-weight: bolder;
  font-family: Arial;
  letter-spacing: 0.025em;
}

.airfit__wrapper {
  display: flex;
  flex-direction: column;
  background-color: #000000;
}
.airfit__info {
  padding: 2rem 2rem;
  color: #FFFFFF;
}
.airfit__info p {
  font-size: 0.875rem;
  letter-spacing: 0.075em;
  text-align: justify;
}
.airfit__info p.title {
  padding-top: 2.5rem;
  padding-bottom: 0rem;
  font-size: 1.0625rem;
}
.airfit__slogan {
  margin: 0 2rem;
  padding: 2rem 0;
  width: calc(100% - 4rem);
  text-align: center;
  color: #FFFFFF;
  border-width: 1px 0;
  border-color: #999999;
  border-style: solid;
}
.airfit__slogan p {
  margin-bottom: 0rem;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: 0.05em;
}
.airfit__slogan p.title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

.service__wrapper {
  display: flex;
  flex-direction: column;
}
.service__item {
  padding: 0 2rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (min-width: 768px) {
  .service__item {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
.service__info {
  width: 50%;
  padding-top: 2.5rem;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .service__info {
    width: 25%;
  }
}
.service__info img {
  width: 100px;
  height: 100%;
}
@media only screen and (min-width: 768px) {
  .service__info img {
    width: 150px;
  }
}
.service__info p {
  margin-bottom: 0.3rem;
  margin-top: 1.3rem;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: bolder;
}

.social {
  padding: 3rem 3rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tel {
  padding: 1rem 0 1rem;
  display: block;
  text-align: center;
  font-size: 1.25rem;
  font-weight: bolder;
}

.shop {
  padding: 0 2.5rem;
}
.shop .title {
  font-weight: bolder;
}

.kv__footer {
  background-color: #FFFFFF;
}

.s1 {
  padding: 0;
  text-align: center;
  background-color: #D4D6D5;
}
.s1 .content {
  padding-top: 3.125rem;
  padding-bottom: 2.125rem;
}
.s1 p {
  margin-bottom: 1rem;
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 700;
}
.s1 p.title {
  margin-bottom: 0.3rem;
  font-size: 1.5rem;
  line-height: 1.5;
  letter-spacing: 0.4em;
  font-weight: bolder;
}
.s1 p.subTitle {
  margin-bottom: 1.875rem;
  font-size: 1.3rem;
  line-height: 1.5;
  font-family: Roboto, Arial;
  font-weight: bold;
}
.s1 .airfit {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  height: 80px;
  background-color: #000000;
}

.s2 {
  padding: 40px 0 30px;
  background-color: #EEEEEE;
}
.s2 .promote {
  display: flex;
  flex-direction: row;
}
.s2 .promote__item {
  flex-grow: 1;
}
.s2 .promote__item--left {
  padding-left: 1.5rem;
}
.s2 .promote__item--right {
  padding-right: 1.5rem;
}
.s2 .promote__item p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-weight: 700;
  padding-left: 1rem;
}
.s2 .promote__item p.title {
  font-size: 1.1rem;
  line-height: 1;
  border-left: 4px solid #000000;
  padding-left: calc(1rem - 4px);
}
.s2 .promote__note {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  font-size: 0.7rem;
  line-height: 1.5;
  font-weight: 700;
  color: #999999;
}
.s2 .promote__note ol {
  margin-bottom: 0;
}

.s3 {
  display: flex;
  flex-direction: column;
  background-color: #DBDBDB;
}
.s3 .needsWrap {
  margin-bottom: 1rem;
}
.s3 .needsWrap .label-custom {
  font-size: 0.925rem;
  font-weight: bolder;
}
.s3 .kv-formbox {
  padding: 40px 30px 5px;
}
.s3 .form-column {
  padding-bottom: 0.6rem;
}
.s3 .form-column .form-select {
  color: #666666;
  font-size: 0.925rem;
}
.s3 .form-column .field-custom {
  margin-bottom: 0.1rem;
  border-radius: 0;
  border-width: 0 0 1px 0;
  border-color: #FFFFFF;
  background-color: transparent;
}
.s3 .form-column .field-custom::-moz-placeholder {
  color: #666666;
  font-size: 0.925rem;
}
.s3 .form-column .field-custom:-ms-input-placeholder {
  color: #666666;
  font-size: 0.925rem;
}
.s3 .form-column .field-custom::placeholder {
  color: #666666;
  font-size: 0.925rem;
}
.s3 .form-column .field-custom--small {
  width: calc(100% - 2.4rem);
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  font-size: 0.75rem;
  font-weight: bolder;
  letter-spacing: 0.025em;
}
.s3 .form-column .field-custom--small a {
  text-decoration: none;
  border-bottom: 1px solid;
  color: #333333;
}
.s3 .form-column .field-custom--small a:hover {
  color: #666666;
}

.s4 {
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
}

.s5 {
  width: 100%;
}

.s6 {
  background-color: #EEEEEE;
}

.s7 {
  background-color: #EEEEEE;
  border-top: 1px solid #000000;
}

.s8 {
  padding-bottom: 2.5rem;
  background-color: #EEEEEE;
  border-top: 1px solid #000000;
}/*# sourceMappingURL=custom.css.map */